body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    transition: background-color 0.5s;
}

.container {
    text-align: center;
}

.gif img {
    width: 60%;
    height: auto;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #FFC0CB;
    transition: all 0.3s;
}

#siBtn {
    background-color: #009705; /* Verde */
    color: white;
}

#siBtn:hover {
    background-color: #00b00a;
}

#noBtn {
    background-color: #FF5733; /* Rojo */
    color: white;
}

#noBtn:hover {
    background-color: #ff2e00;
}

body.bg-green {
    background-color: #d4f4d4;
}

.subtext {
    margin-top: -10px;
    font-size: 18px;
    color: #ff4d6d;
    font-weight: bold;
}

